<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fact Radar - Fake News Detector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Welcome to TrueRadar</h1>
            <p>Predict if news is real or fake.</p>
        </div>
    </header>

    <main>
        <div class="container">
            <form action="/predict" method="POST">
                <div class="form-group">
                    <label for="news">Enter the News Text:</label>
                    <textarea id="news" name="news" rows="6" required></textarea>
                </div>
                <button type="submit" class="btn">Check Prediction</button>
            </form>
            {% if result %}
            <div class="result">
                <h2>Prediction Result:</h2>
                <p class="result-text">{{ result }}</p>
            </div>
            {% endif %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 TrueRadar. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
